  <div class="col col-sm-offset-1 col-sm-10">

    <div>
    <ul id="menu-container" style="opacity:0; z-index:101"><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://shaastra.org/"><div class="headings"><img id="shaastra-menu-logo" src="images/spons_img/shaastra-blue-logo.png"></div></a></li>
          <li class="menu-list"><a class="menu-link" style="cursor:pointer" ng-click="homePage()"><div class="headings">HOME</div></a></li><hr class="horizontalRule"> 
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/aerofest"><div class="headings">EVENTS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/workshops"><div class="headings">WORKSHOPS</div></a></li><hr class="horizontalRule">

          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/aerofest"><div class="headings">SHOWS AND EXHIBITIONS</div></a></li><hr class="horizontalRule">
          
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/social"><div class="headings">SOCIAL WORK</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/participants-quotes"><div class="headings">TESTIMONIALS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/avenues"><div class="headings">SPONSORSHIP AVENUES</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/publicity"><div class="headings">PUBLICITY</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/why-shaastra"><div class="headings">WHY SPONSOR SHAASTRA</div></a></li><hr class="horizontalRule">
      </ul>
      <div id="closemenu" style="z-index:100" ng-click="onClick()">
        <div id="openiconcontainer">
          <span id="firstline" class="line"></span>
            <span id="secondline" class="line"></span>
            <span id="thirdline" class="line"></span>
          <span id="fourthline" class="line"></span>
        </div>
        <div id="closeiconcontainer">
            <span id="closefirstline" class="line"></span>
            <span id="closesecondline" class="line"></span>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <h1 class="col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-1 col-xs-11 title">Events</h1>
    </div>

    <div class="container-fluid">

      <nav class="navbar navbar-default">
        <div class="container-fluid remove-padding">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed toggle-btn-custom" data-toggle="collapse" data-target="#nav-copmonents" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="nav-copmonents">
            <ul class="nav navbar-nav">
              <li><a href="http://ebrochure.shaastra.org/#/aerofest">Aerofest</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/b-events">B-Events</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/coding">Coding</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/design-and-build">Design and Build</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/electronics-fest">Electronics Fest</a></li>
              <!-- <li><a href="http://ebrochure.shaastra.org/#/department-flagship">Department Flagship</a></li> -->
              <li><a href="http://ebrochure.shaastra.org/#/involve">Involve</a></li>
              <li class="active"><a href="#">Quizzing</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/research">Research</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
          <img class="img-responsive" src="images/spons_img/quizzing.png" alt="Image Not Found">

        </div><!-- /.container-fluid -->
      </nav>
    </div>

    <div class="container-fluid event-info">
      <div style="padding:5%;">

        <div class="row module box">
          <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/shaastra main quiz.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">Shaastra Main Quiz</h2>
            <p class="content">Shaastra plays host to one of the biggest inter-collegiate tech quizzes in South India, the Shaastra Main Quiz. Some of the best quizzing minds from all over the country go heads up against each other in what is a test of agile thinking and Scientific knowledge. With the reputed and historic quizzing culture of IIT Madras brought to the fore in the prelims and finals, it promises to give the participants an adrenaline rush through highly exciting and versatile formats!</p>
          </div>
        </div>
        <br />
        <div class="row module box" ani-view>
          <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/shaastra junior quiz.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">Spark</h2>
            <p class="content">Right from a layman to the geekiest individual out there, this is an event for everyone with a basic knowledge of Science and facts along with a dash of logic!Conceived with the intention of developing a quizzing culture at the school level, the Shaastra Junior Quiz brings together the best quizzing minds from all corners of the country for the grand finale in 2016. This event is guaranteed to be a crowd puller and has witnessed an ever increasing participation over the years.</p>
          </div>
        </div>
        <br />
        <div class="row text-right module box" ani-view>
          <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/auto quiz.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">ScEnt Quiz</h2>
            <p class="content">The compelling nature of science is shaping storylines. This event is a test of the scientific concepts and principles used in the realm of entertainment.</p>
          </div>
          <button class="btn btn-default btn-custom col-md-3 col-sm-6 col-xs-12"><b>Check Statistics</b></button>
        </div>

      <br />
        <div class="row module box" ani-view>
          <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/shaastra junior quiz.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">BizQuiz</h2>
            <p class="content">A business quiz to test various business man aspects - knowledge of products, companies and industries, to test their analytical, situation handling and management skill. And over all these, a platform for everyone to learn more about business. </p>
          </div>
        </div>

      </div>
      
    </div>
  </div>
