  <div class="col col-sm-offset-1 col-sm-10">

 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
     
      <li> <a> </a> </li>
      <li> <a> </a> </li>
      <li> <a> </a> </li>
      <li> <a> </a> </li> 
      <li><a href="http://ebrochure.shaastra.org/#/">HOME</a></li> 
      <li> <a> </a> </li>     
      <li class="active"><a href="http://ebrochure.shaastra.org/#/aerofest">EVENTS</a></li>   
      <li> <a> </a> </li>   
      <li><a href="http://ebrochure.shaastra.org/#/shows">SHOWS AND EXHIBITIONS</a></li> 
      <li> <a> </a> </li>
      <li><a href="http://ebrochure.shaastra.org/#/workshops">WORKSHOPS</a></li> 
      <li> <a> </a> </li>     
      <li><a href="http://ebrochure.shaastra.org/#/publicity">PUBLICITY</a></li>   
      <li> <a> </a> </li>   
      <li><a href="http://ebrochure.shaastra.org/#/why-shaastra">WHY SPONSOR</a></li> 

    </ul>
  </div>
</nav>

    <!-- <div> -->
  <!--   <ul id="menu-container" style="opacity:0; z-index:101"><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://shaastra.org/"><div class="headings"><img id="shaastra-menu-logo" src="images/spons_img/shaastra-blue-logo.png"></div></a></li>
          <li class="menu-list"><a class="menu-link" style="cursor:pointer" ng-click="homePage()"><div class="headings">HOME</div></a></li><hr class="horizontalRule"> 
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/aerofest"><div class="headings">EVENTS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/workshops"><div class="headings">WORKSHOPS</div></a></li><hr class="horizontalRule">

          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/shows"><div class="headings">SHOWS AND EXHIBITIONS</div></a></li><hr class="horizontalRule">
          
         
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/participants-quotes"><div class="headings">TESTIMONIALS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/avenues"><div class="headings">SPONSORSHIP AVENUES</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/publicity"><div class="headings">PUBLICITY</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/why-shaastra"><div class="headings">WHY SPONSOR SHAASTRA</div></a></li><hr class="horizontalRule">
      </ul>

      <div id="menutext" ng-click="onClick()"> MENU </div>
      <div id="closemenu" style="z-index:100" ng-click="onClick()">
        <div id="openiconcontainer">
          <span id="firstline" class="line"></span>
            <span id="secondline" class="line"></span>
            <span id="thirdline" class="line"></span>
          <span id="fourthline" class="line"></span>
        </div>
        <div id="closeiconcontainer">
            <span id="closefirstline" class="line"></span>
            <span id="closesecondline" class="line"></span>
        </div>
      </div>
    </div>
 -->
    <div class="container-fluid">
      <h1 class="col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-1 col-xs-11 title">Events</h1>
    </div>

    <div class="container-fluid">

      <nav class="navbar navbar-default">
        <div class="container-fluid remove-padding">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed toggle-btn-custom" data-toggle="collapse" data-target="#nav-copmonents" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="nav-copmonents">
            <ul class="nav navbar-nav">
              <li><a href="http://ebrochure.shaastra.org/#/aerofest">Aerofest</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/b-events">B-Events</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/coding">Coding</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/design-and-build">Design and Build</a></li>
              <li class="active"><a href="#">Electronics Fest</a></li>
              <!-- <li><a href="http://ebrochure.shaastra.org/#/department-flagship">Department Flagship</a></li> -->
              <li><a href="http://ebrochure.shaastra.org/#/involve">Involve And Quizzing</a></li>
              <!-- <li><a href="http://ebrochure.shaastra.org/#/quizzing">Quizzing</a></li> -->
              <li><a href="http://ebrochure.shaastra.org/#/research">Research</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
          <img class="img-responsive" src="images/spons_img/electronics-fest.png" alt="Image Not Found">

        </div><!-- /.container-fluid -->
      </nav>
    </div>
    
    <div class="container-fluid event-info">
      <div style="padding:5%;">

        <div class="row module box">
          <!-- <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/oscilloscope drawing.jpg" alt="Image Not Found"> -->
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">ABP </h2>
            <p class="content"> Coding challenges for C and Python are very common. So Shaastra introduces one for the Arduino, the most popular electronics prototyping platform. This event is sure to have the quality blend of passionate coder and bright electrical engineers.
 </p>
          </div>
        </div>
        <br />
        <div class="row text-right module box" ani-view>
          <!-- <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/arduino programmers challenge.jpg" alt="Image Not Found"> -->
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Eleckart </h2>
            <p class="content"> Eleckart of shaastra 2017 is a high profile show to compete on a big scale and showcase their talent where the participants play to build. Participants will be given a chance to ‘buy’ their required components based on virtual amount of cash they earned and then compete to build the best device based on the problem statement provided
 </p>
          </div>
        </div>
        <br />
        <!-- <div class="row module box" ani-view>
          <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/pcb design workshop.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">Eleckart</h2>
            <p class="content"> The ultimate event for electrical engineers and electronics geeks! Contestants compete for the title of best circuit designer of Shaastra 2017. SCDC, sponsored by 2016, saw over 200 participants. </p>
          </div>
        </div>
        <br /> -->
        <div class="row module box" ani-view>
         <!--  <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/shaastra circuit design challenge.jpg" alt="Image Not Found"> -->
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> SCDC (Shaastra Circuit Design Challenge) </h2>
            <p class="content"> Circuit Design happens to be major challenge to electrical engineers all over the world. SCDC, the flagship event of Electrical engineering, tests the ability of its participants to come up with a robust and compact circuit design for a socially relevant problem.
</p>
          </div>
          <!-- <button class="btn btn-default btn-custom col-md-3 col-sm-6 col-xs-12"><b>Check Statistics</b></button> -->
        </div>

        <br />
        <div class="row module text-right box" ani-view>
          <!-- <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/pcb design workshop.jpg" alt="Image Not Found"> -->
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> PCB Design</h2>
            <p class="content"> An event designed specifically for Electrical Engineering students. PCB's (Printed Circuit Boards) now form an integral part of any electronics system that you can find in your surroundings. Shaastra 2017 brings this opportunity to learn the skill of designing a circuit using the required tools, so that one day you can make your own robots dance to your tunes!
 </p>
          </div>
        </div>
        <br />
      </div>
  </div>
