  <div class="col col-sm-offset-1 col-sm-10">

   <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
     
      <li> <a> </a> </li>
      <li> <a> </a> </li>
      <li> <a> </a> </li>
      <li> <a> </a> </li> 
      <li><a href="http://ebrochure.shaastra.org/#/">HOME</a></li> 
      <li> <a> </a> </li>     
      <li class="active"><a href="http://ebrochure.shaastra.org/#/aerofest">EVENTS</a></li>   
      <li> <a> </a> </li>   
      <li><a href="http://ebrochure.shaastra.org/#/shows">SHOWS AND EXHIBITIONS</a></li> 
      <li> <a> </a> </li>
      <li><a href="http://ebrochure.shaastra.org/#/workshops">WORKSHOPS</a></li> 
      <li> <a> </a> </li>     
      <li><a href="http://ebrochure.shaastra.org/#/publicity">PUBLICITY</a></li>   
      <li> <a> </a> </li>   
      <li><a href="http://ebrochure.shaastra.org/#/why-shaastra">WHY SPONSOR</a></li> 

    </ul>
  </div>
</nav>
    <!-- <div>
    <ul id="menu-container" style="opacity:0; z-index:101"><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://shaastra.org/"><div class="headings"><img id="shaastra-menu-logo" src="images/spons_img/shaastra-blue-logo.png"></div></a></li>
          <li class="menu-list"><a class="menu-link" style="cursor:pointer" ng-click="homePage()"><div class="headings">HOME</div></a></li><hr class="horizontalRule"> 
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/aerofest"><div class="headings">EVENTS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/workshops"><div class="headings">WORKSHOPS</div></a></li><hr class="horizontalRule">

          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/shows"><div class="headings">SHOWS AND EXHIBITIONS</div></a></li><hr class="horizontalRule">
          
         
         <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/participants-quotes"><div class="headings">TESTIMONIALS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/avenues"><div class="headings">SPONSORSHIP AVENUES</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/publicity"><div class="headings">PUBLICITY</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/why-shaastra"><div class="headings">WHY SPONSOR SHAASTRA</div></a></li><hr class="horizontalRule">
      </ul>
      
      <div id="menutext" ng-click="onClick()"> MENU </div>
      <div id="closemenu" style="z-index:100" ng-click="onClick()">
        <div id="openiconcontainer">
          <span id="firstline" class="line"></span>
            <span id="secondline" class="line"></span>
            <span id="thirdline" class="line"></span>
          <span id="fourthline" class="line"></span>
        </div>
        <div id="closeiconcontainer">
            <span id="closefirstline" class="line"></span>
            <span id="closesecondline" class="line"></span>
        </div>
      </div>
    </div>
     -->
    <div class="container-fluid">
      <h1 class="col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-1 col-xs-11 title">Events</h1>
    </div>

    <div class="container-fluid">

      <nav class="navbar navbar-default">
        <div class="container-fluid remove-padding remove-margin">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed toggle-btn-custom" data-toggle="collapse" data-target="#nav-copmonents" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="nav-copmonents">
            <ul class="nav navbar-nav">
              <li><a href="http://ebrochure.shaastra.org/#/aerofest">Aerofest</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/b-events">B-Events</a></li>
              <li class="active"><a href="#">Coding</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/design-and-build">Design and Build</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/electronics-fest">Electronics Fest</a></li>
              <!-- <li><a href="http://ebrochure.shaastra.org/#/department-flagship">Department Flagship</a></li> -->
               <li><a href="http://ebrochure.shaastra.org/#/involve">Involve And Quizzing</a></li>
              <!-- <li><a href="http://ebrochure.shaastra.org/#/quizzing">Quizzing</a></li> -->
              <li><a href="http://ebrochure.shaastra.org/#/research">Research</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
          <img class="img-responsive" src="images/spons_img/coding.png" alt="Image Not Found">

        </div><!-- /.container-fluid -->
      </nav>
    </div>
    
    <div class="container-fluid event-info">
      <div style="padding:5%;">

        <div class="row module box">
          <!-- <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/mixels.jpg" alt="Image Not Found"> -->
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Hackathon </h2>
            <p class="content">  This event gives a platform to participants to get together, exchange ideas to build an app with the like minded. Combine your creative thinking with programming to come up with revolutionary apps.
</p>
          </div>
        </div>
        <br />
        <div class="row text-right module box" ani-view>
          <!-- <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/reverse coding.jpg" alt="Image Not Found"> -->
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Mixels </h2>
            <p class="content">  From simple character recognition to performing a surgery by visualising extremely high quality 3-D image, image processing has already begun to move the world. A picture after all speaks a thousand words. Mixels presents you with a unique challenge to make the computer see the way we do. Grab this opportunity to compete along with the similar minds.
 </p>
          </div>
        </div>
        <br />
        <div class="row module box" ani-view>
          <!-- <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/triathlon.jpg" alt="Image Not Found"> -->
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> OPC </h2>
            <p class="content"> This event is for techies wanting to have a finesse in coding so much so that most challenging of tasks turns out to be mere good old "Hello World" program. Shaastra presents you with the opportunity to compete against nation's best progrmmers.
 </p>
          </div>
        </div>
        <br />
        <div class="row text-right module box" ani-view>
          <!-- <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/online programming contest.jpg" alt="Image Not Found"> -->
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Reverse Coding </h2>
            <p class="content"> The event focusses on your ability to logically relate an input with its corresponding output, identify patterns in a problem with coding in the mix. Targeting audiences of all kinds this event lets your imagination run wild to reverse engineer a problem.
 </p>
          </div>
        </div>
        <div class="row module box" ani-view>
         <!--  <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/tidbits.jpg" alt="Image Not Found"> -->
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">Tidbits</h2>
            <p class="content"> Online individual event conducted on Shaastra's social media platforms which comprise of questions on programming, math, sports, decryption of codes, entertainment  and more. The questions are posted periodically over multiple weeks. </p>
          </div>
          <!-- <button class="btn btn-default btn-custom col-md-3 col-sm-6 col-xs-12"><b>Check Statistics</b></button> -->
        </div>
        <br />
        
        <div class="row text-right module box" ani-view>
          <!-- <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/online programming contest.jpg" alt="Image Not Found"> -->
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Jarvis </h2>
            <p class="content"> From perplexing puzzles, genio mathematica to mind boggling ciphers, Tidbits keeps your brain cells in a constant heat of debate to feel the festive spirit of Shaastra.

 </p>
          </div>
        </div>
       
      
    </div>
  </div>
