  <div class="col col-sm-offset-1 col-sm-10">


  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
     
      <li> <a> </a> </li>
      <li> <a> </a> </li>
      <li> <a> </a> </li>
      <li> <a> </a> </li> 
      <li><a href="http://ebrochure.shaastra.org/#/">HOME</a></li> 
      <li> <a> </a> </li>     
      <li class="active"><a href="http://ebrochure.shaastra.org/#/aerofest">EVENTS</a></li>   
      <li> <a> </a> </li>   
      <li><a href="http://ebrochure.shaastra.org/#/shows">SHOWS AND EXHIBITIONS</a></li> 
      <li> <a> </a> </li>
      <li><a href="http://ebrochure.shaastra.org/#/workshops">WORKSHOPS</a></li> 
      <li> <a> </a> </li>     
      <li><a href="http://ebrochure.shaastra.org/#/publicity">PUBLICITY</a></li>   
      <li> <a> </a> </li>   
      <li><a href="http://ebrochure.shaastra.org/#/why-shaastra">WHY SPONSOR</a></li> 

    </ul>
  </div>
</nav>

    <!-- <div>
    <ul id="menu-container" style="opacity:0; z-index:101"><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://shaastra.org/"><div class="headings"><img id="shaastra-menu-logo" src="images/spons_img/shaastra-blue-logo.png"></div></a></li>
          <li class="menu-list"><a class="menu-link" style="cursor:pointer" ng-click="homePage()"><div class="headings">HOME</div></a></li><hr class="horizontalRule"> 
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/aerofest"><div class="headings">EVENTS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/workshops"><div class="headings">WORKSHOPS</div></a></li><hr class="horizontalRule">

          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/shows"><div class="headings">SHOWS AND EXHIBITIONS</div></a></li><hr class="horizontalRule">
          
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/participants-quotes"><div class="headings">TESTIMONIALS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/avenues"><div class="headings">SPONSORSHIP AVENUES</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/publicity"><div class="headings">PUBLICITY</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/why-shaastra"><div class="headings">WHY SPONSOR SHAASTRA</div></a></li><hr class="horizontalRule">

          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/aerofest"><div class="headings">SHOWS AND EXHIBITION</div></a></li><hr class="horizontalRule">

      </ul>

      <div id="menutext" ng-click="onClick()"> MENU </div>
      <div id="closemenu" style="z-index:100" ng-click="onClick()">
        <div id="openiconcontainer">
          <span id="firstline" class="line"></span>
            <span id="secondline" class="line"></span>
            <span id="thirdline" class="line"></span>
          <span id="fourthline" class="line"></span>
        </div>
        <div id="closeiconcontainer">
            <span id="closefirstline" class="line"></span>
            <span id="closesecondline" class="line"></span>
        </div>
      </div>
    </div>
     -->
    <div class="container-fluid">
      <h1 class="col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-1 col-xs-11 title">Events</h1>
    </div>

    <div class="container-fluid">

      <nav class="navbar navbar-default">
        <div class="container-fluid remove-padding remove-margin">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed toggle-btn-custom" data-toggle="collapse" data-target="#nav-copmonents" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="nav-copmonents">
            <ul class="nav navbar-nav">
              <li><a href="http://ebrochure.shaastra.org/#/aerofest">Aerofest</a></li>
              <li class="active"><a href="#">B-Events</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/coding">Coding</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/design-and-build">Design and Build</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/electronics-fest">Electronics Fest</a></li>
              <!-- <li><a href="http://ebrochure.shaastra.org/#/department-flagship">Department Flagship</a></li> -->
              <li><a href="http://ebrochure.shaastra.org/#/involve">Involve And Quizzing</a></li>
              <!-- <li><a href="http://ebrochure.shaastra.org/#/quizzing">Quizzing</a></li> -->
              <li><a href="http://ebrochure.shaastra.org/#/research">Research</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
          <img class="img-responsive" src="images/spons_img/b-events.png" alt="Image Not Found">

        </div><!-- /.container-fluid -->
      </nav>
    </div>
    
    <div class="container-fluid event-info">
      <div style="padding:5%;">

        <div class="row module box">
          <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/traders street.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Optimo </h2>
            <p class="content"> The essence of a true manager lies in his skill of handling various sub optimal and infeasible situations and trying to increase the efficiency of the situation. For those who can do this perfectly, optimo is the event for you. Optimo is an optimisation event in which participants are given a particular business situation which they have to optimize with a target of minimizing costs. As a sponsor, if you feel that there is a scope of improvement in your existing system, outsource the problem to our participants and experience the value you receive from it.
  </p>
          </div>
        </div>
        <br />
        <div class="row text-right module box" ani-view>
          <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/consigliere.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Start Up Wars </h2>
            <p class="content"> The competition entails application of a myriad of skills including development strategy, core business models and game theory. This one is for all the budding entrepreneurs who are looking forward to getting an idea and build it into a company. The finalists of this competition are subjected to a virtual simulation of a start up environment where they have to fight against other participants for increasing their market shares and sales in a particular industry resulting in the maximisation of profits. An extremely addictive event, which has a great potential in imparting both fun and knowledge at the same time.
 </p>
          </div>
        </div>
        <br />
        <div class="row module box" ani-view>
          <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/case study.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">Consigliere </h2>
            <p class="content"> Welcome to the world of the consultant. This is the event tailored for those who have the acumen to look at various problems in diverse fields and come up with solutions by linking up a variety of factors. The event mainly focusses on providing the participants with case studies of various managerial problems that occur in the field of finance, operations, HR etc. Recommended for all those with a "get-it-done" attitude who finds euphoria in solving problems.
 </p>
          </div>
        </div>
        <br />
        <div class="row module box" ani-view>
          <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/case study.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Big Data Challenge </h2>
            <p class="content"> Data, Data Everywhere, not getting a drop to mine? Then this is the event for you where you put your foot five feet deep into the world of big data analytics. This event aims at testing the skills of the participant in number crunching as well as pattern identification. It includes a series of three rounds of elimination, in the course of which a business case is given to the participants along with the data set involved, where the participants are expected to analyze the case and come up with a business solution. If you, as a sponsor, have any particular data set you are having a problem with, feel free to let our participants have a go at it and see what value comes out.
 </p>
          </div>
        </div>
        <br />
        <div class="row module box" ani-view>
          <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/case study.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Brand Wars </h2>
            <p class="content"> This is the event for all of them who can "feel" the brand. And this is their chance to build a brand on your their own and make it the best. The participants selected for the final will have to go through "gruelling ;)" tasks where they are expected to evolve the product or brand given to them and take it through the various stages of company development or brand building including rounds where they have to openly market their brand in a specified area using any means available and communicate the idea with the maximum number of people who pass through the area. As a sponsor, if you are looking forward to creating a product development strategy, this is the event to bank your inputs in and get some value created out of.
 </p>
          </div>
        </div>
        <br />

      </div>
      
    </div>
  </div>
