  <div class="col col-sm-offset-1 col-sm-10">

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
     
      <li> <a> </a> </li>
      <li> <a> </a> </li>
      <li> <a> </a> </li>
      <li> <a> </a> </li> 
      <li><a href="http://ebrochure.shaastra.org/#/">HOME</a></li> 
      <li> <a> </a> </li>     
      <li class="active"><a href="http://ebrochure.shaastra.org/#/aerofest">EVENTS</a></li>   
      <li> <a> </a> </li>   
      <li><a href="http://ebrochure.shaastra.org/#/shows">SHOWS AND EXHIBITIONS</a></li> 
      <li> <a> </a> </li>
      <li><a href="http://ebrochure.shaastra.org/#/workshops">WORKSHOPS</a></li> 
      <li> <a> </a> </li>     
      <li><a href="http://ebrochure.shaastra.org/#/publicity">PUBLICITY</a></li>   
      <li> <a> </a> </li>   
      <li><a href="http://ebrochure.shaastra.org/#/why-shaastra">WHY SPONSOR</a></li> 

    </ul>
  </div>
</nav>

<!-- <div>
    <ul id="menu-container" style="opacity:0; z-index:101"><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://shaastra.org/"><div class="headings"><img id="shaastra-menu-logo" src="images/spons_img/shaastra-blue-logo.png"></div></a></li>
          <li class="menu-list"><a class="menu-link" style="cursor:pointer" ng-click="homePage()"><div class="headings">HOME</div></a></li><hr class="horizontalRule"> 
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/aerofest"><div class="headings">EVENTS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/workshops"><div class="headings">WORKSHOPS</div></a></li><hr class="horizontalRule">

          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/shows"><div class="headings">SHOWS AND EXHIBITIONS</div></a></li><hr class="horizontalRule">
         
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/participants-quotes"><div class="headings">TESTIMONIALS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/avenues"><div class="headings">SPONSORSHIP AVENUES</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/publicity"><div class="headings">PUBLICITY</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/why-shaastra"><div class="headings">WHY SPONSOR SHAASTRA</div></a></li><hr class="horizontalRule">
      </ul>

      <div id="menutext" ng-click="onClick()"> MENU </div>
      <div id="closemenu" style="z-index:100" ng-click="onClick()">
        <div id="openiconcontainer">
          <span id="firstline" class="line"></span>
            <span id="secondline" class="line"></span>
            <span id="thirdline" class="line"></span>
          <span id="fourthline" class="line"></span>
        </div>
        <div id="closeiconcontainer">
            <span id="closefirstline" class="line"></span>
            <span id="closesecondline" class="line"></span>
        </div>
      </div>
    </div> -->
    
    <div class="container-fluid">
      <h1 class="col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-1 col-xs-11 title">Events</h1>
    </div>

    <div class="container-fluid">

      <nav class="navbar navbar-default">
        <div class="container-fluid remove-padding">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed toggle-btn-custom" data-toggle="collapse" data-target="#nav-copmonents" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="nav-copmonents">
            <ul class="nav navbar-nav">
              <li><a href="http://ebrochure.shaastra.org/#/aerofest">Aerofest</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/b-events">B-Events</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/coding">Coding</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/design-and-build">Design and Build</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/electronics-fest">Electronics Fest</a></li>
              <!-- <li><a href="http://ebrochure.shaastra.org/#/department-flagship">Department Flagship</a></li> -->
              <li class="active"><a href="#">Involve and Quizzing</a></li>
              <!-- <li><a href="http://ebrochure.shaastra.org/#/quizzing">Quizzing</a></li> -->
              <li><a href="http://ebrochure.shaastra.org/#/research">Research</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
          <img class="img-responsive" src="images/spons_img/involve.png" alt="Image Not Found">

        </div><!-- /.container-fluid -->
      </nav>
    </div>
    
    <div class="container-fluid event-info">
      <div style="padding:5%;">

        <div class="row module box">
          <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/sudoku.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Puzzle Champ </h2>
            <p class="content"> A test of analytical, tactical and logical abilities with no technical prerequisite, it promises to be one of the biggest participated event at Shaastra. With three days of thought provoking and mind boggling puzzles and sudokus, the event is a huge crowd puller with extensive branding opportunities. </p>
          </div>
        </div>
        <br />
        <div class="row text-right module box" ani-view>
          <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/shaastra cube open.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Sudoku</h2>
            <p class="content"> Sudoku Championship is a battle between Sudoku solvers from all over India. This event tests the individuals’ logical thinking ability. This event includes both the classic and variant Sudoku. </p>
          </div>
        </div>
        <br />
        <div class="row module box" ani-view>
          <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/puzzlechamp.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> World Cube Open </h2>
            <p class="content"> Affiliated to the WCA (World Cube Association), it is one of the largest international speed cubing competition in India. It witnesses global participation with young kids cracking complex problems in a matter of seconds. A highlight event of Shaastra, national records are smashed every year! The event serves as a platform for interaction between world class cubers and cubing enthusiasts.</p>
          </div>
        </div>
        <br />

        <div class="row text-right module box" ani-view>
          <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/chess.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">Rapid Chess</h2>
            <p class="content"> Affiliated to the All India Chess Federation, Shaastra will be introducing this event for the first time in 2017. It is expected to serve as a platform for budding Chess players to interact with the Grandmasters.</p>
          </div>
        </div>
        <br />

        <div class="row module box" ani-view>
          <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/how things work.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Treasure Hunt</h2>
            <p class="content"> An engaging treasure hunt, with clues hidden all over campus. Each clue will be a complex puzzle. The first to solve all the puzzles will find the treasure!</p>
          </div>
          <!-- <button class="btn btn-default btn-custom col-md-3 col-sm-6 col-xs-12"><b>Check Statistics</b></button> -->
        </div>

        <br />

        <div class="row text-right module box" ani-view>
          <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/puzzle champ.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Spark </h2>
            <p class="content"> Right from a layman to the geekiest individual out there, this is an event for everyone with a basic knowledge of Science along with a dash of sharpness! Conceived with the intention of developing a quizzing & logical thinking culture at the school level, the Spark brings together the best quizzing & logical minds from all corners of the country for the grand finale in 2017. This event is guaranteed to be a crowd puller and has witnessed an ever increasing participation over the years. </p>
          </div>
        
        </div>

        <div class="row module box" ani-view>
          <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/how things work.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">  Shaastra Main Quiz</h2>
            <p class="content">  Shaastra plays host to one of the biggest inter-collegiate tech quizzes in South India, the Shaastra Main Quiz. Some of the best quizzing minds from all over the country go heads up against each other in what is a test of agile thinking and Scientific knowledge. With the reputed and historic quizzing culture of IIT Madras brought to the fore in the prelims and finals, it promises to give the participants an adrenaline rush through highly exciting and versatile formats!</p>
          </div>
          <!-- <button class="btn btn-default btn-custom col-md-3 col-sm-6 col-xs-12"><b>Check Statistics</b></button> -->
        </div>

        <br />

        <div class="row text-right module box" ani-view>
          <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/puzzle champ.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> How Things Work </h2>
            <p class="content">  A wrong concept misleads the understanding. It is this understanding of the basic concepts that is tested in HTW. Garnering interest from avid quizzers to tech enthusiasts equipped with high school Science knowledge, a strong gut feeling and the ability to think on feet, this has been one of Shaastra’s mainstay events since the past decade. Promoting the spirit of scientific enquiry minus the boring equations or bland academic rigour, HTW is arguably the most unique quiz in the country. </p>
          </div>
         <!--  <button class="btn btn-default btn-custom col-md-3 col-sm-6 col-xs-12"><b>Check Statistics</b></button> -->
        </div>







      </div>

      

       
      
    </div>
  </div>
