<div class="col col-sm-offset-1 col-sm-10">	


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
     
      <li> <a> </a> </li>
       <li> <a> </a> </li>
        <li> <a> </a> </li> 
        <li> <a> </a> </li>
      <li class="active"><a href="http://ebrochure.shaastra.org/#/">HOME</a></li> 
      <li> <a> </a> </li>     
      <li><a href="http://ebrochure.shaastra.org/#/aerofest">EVENTS</a></li>   
      <li> <a> </a> </li>   
      <li><a href="http://ebrochure.shaastra.org/#/shows">SHOWS AND EXHIBITIONS</a></li> 
      <li> <a> </a> </li>
      <li><a href="http://ebrochure.shaastra.org/#/workshops">WORKSHOPS</a></li> 
      <li> <a> </a> </li>     
      <li><a href="http://ebrochure.shaastra.org/#/publicity">PUBLICITY</a></li>   
      <li> <a> </a> </li>   
      <li><a href="http://ebrochure.shaastra.org/#/why-shaastra">WHY SPONSOR</a></li> 

    </ul>
  </div>
</nav>

 

  <div class="container-fluid intro parallax-window" style="background-image:url('images/spons_img/landing.jpg')">

    <div class="row" style="margin-top:15%">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
        <h1 id="shaastraMainHeading">Shaastra</h1>
        <p id="about-shaastra-one">The annual technical festival</p>
        <p id="about-shaastra-two">of Indian Insitute of Technology Madras, Chennai, India</p>
        <p class="shaastra-paragraph">Shaastra, the fiesta of Science, Technology and Entertainment, ever since its inception in the year 2000 has always striven to make a difference in the world we live in through significant creative and innovative advancements in every walk of life, acheived by the very people who come, witness and involve themselves with us throughout the days of shaastra. We provide a huge platform to everyone for simply acheiving perfection, for discovering their talents and designing their dreams by breaking all boundaries.</p>
        <p class="shaastra-paragraph">We are the SPIRIT OF ENGINEERING!</p>
        <br><br><br>
      </div>
		</div>
	</div>



  <div id="mission" class="container-fluid mission">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 misVis">
        <h1>Shaastra's Vision</h1>
        <p>To be a world-class technical festival under its parent institution continuously striving to push the boundaries in the spheres of technology, engineering and innovation. Shaastra aims to provide a platform for continuous faculty-student-academic collaboration and interaction as well as promoting new frontiers of thought by the student community.</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 misVis">
        <h1>Shaastra's Mission</h1>
        <p>To create and sustain a community that encourages thought and learning in which students can acquire knowledge through interaction with fellow students as well as the industry.</p>
        <p>To encourage students to explore new frontiers in technical as well as management process.</p>
        <p>To create and sustain a culture that enables the industry to recognize and reard talent in engineering.</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 misVis">
        <h1>Quality Policy</h1>
        <p>To pursue excellence in all activities pertaining to Shaastra namely technical event creation and management, outreach activities, management, corporate relations and website management through the process of constant re-evaluation and self improvement.</p>
        <p>Shaastra is the ISO 9001 :2008 certified student organized technical festival. A dedicated division will be responsible for implementation of the ISO 9001 standards at Shaastra. Enhancing and driving efficiency in the processes of inter- departmental collaboration and implementing exhaustive documenting policies are the approaches adopted to ensure quality and transparency in the system. Certification stands for the quality of perfection Shaastra has achieved with its present system and the attitude towards continual improvement which is made possible by the professionalism and overwhelming enthusiasm of the Shaastra organizing team.</p>
      </div>
    </div>
  </div>


  



  <!-- <div class="container-fluid" id="first"> -->
    <!-- <div class="row">
      <p>The First Student Organised event in the world to be ISO 9001:2008 certified.</p>
    </div> -->
    <img class="img-responsive" src="images/home/first.png" id="firstimg" alt="Image not found">
  <!-- </div> -->


  


  <div class="container-fluid" style="display : none;">
    <div class="certification">
      <div class="row" id="ticks">
        <div class="col-sm-6 col-md-offset-1 col-md-2 tt">
          <img class="img-responsive" src="images/spons_img/3.png" alt="Image not found">
          <h1>Planning</h1>
        </div>
        <div class="col-sm-6 col-md-offset-2 col-md-2 tt">
          <img class="img-responsive" src="images/spons_img/3.png" alt="Image not found">
          <h1>Innovation</h1>
        </div>
        <div class="col-sm-6 col-md-offset-2 col-md-2 tt">
          <img class="img-responsive" src="images/spons_img/3.png" alt="Image not found">
          <h1>Execution</h1>
        </div>
      </div>
    </div>
  </div>

	<div class="container-fluid acheivements">
    <div style="padding:5%">
      <div class="row">
        <figure class="col-xs-6 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 ach">
          <img class="img-responsive" src="images/spons_img/6.png" alt="Image not found">
          <figcaption>MEDIA</figcaption>
        </figure>

        <figure class="col-xs-6 col-md-2 col-sm-2 col-sm-offset-4 col-md-offset-4 ach">
          <img class="img-responsive" src="images/spons_img/7.png" alt="Image not found">
          <figcaption>INDUSTRY</figcaption>
        </figure>

        <figure class="col-xs-6 col-md-4 col-sm-4 col-sm-offset-4 col-md-offset-4 ach">
          <img class="img-responsive" src="images/spons_img/4.png" alt="Image not found"><br>    
        </figure>
    
        <figure class="col-xs-6 col-md-2 col-sm-2 col-sm-offset-5 col-md-offset-5 ach" id="acheivements-last">
          <img class="img-responsive" src="images/spons_img/5.png" alt="Image not found">
          <figcaption>ACADEMIA</figcaption>
        </figure>
      </div>
    </div>
	</div>

	<div id="statistics" class="container-fluid statistics">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3">      
        <div class="sta">
          <p class="one">225</p>
          <p class="two">percent increase in</p>
          <p class="two">AVERAGE DAILY REACH</p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <div class="sta">
          <p class="one">16000</p>
          <p class="two">students impacted through</p>
          <p class="two">EVENTS AND WORKSHOPS</p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">    
        <div class="sta">
          <p class="one">384</p>
          <p class="two">schools reached through</p>
          <p class="two">OUTREACH ACTIVITIES</p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <div class="sta">
          <p class="one">155</p>
          <p class="two">percent increase in time</p>
          <p class="two">PEOPLE ENGAGED ON DAILY BASIS</p>
        </div>
      </div>
    </div>
	</div>

  <!-- <div class="container-fluid awaits" style="display : none;"> -->
    <div class="row" style="display : none;">
      <img class="img-responsive col-xs-12 col-sm-12 col-md-12" style="padding:0;" src="images/spons_img/00.png" alt="Image not found">
      <!-- <img class="img-responsive col-xs-12 col-sm-4 col-md-4" style="padding:0;" src="images/spons_img/ad_2.png" alt="Image not found"> -->
      <!-- <img class="img-responsive col-xs-12 col-sm-4 col-md-4" style="padding:0;" src="images/spons_img/ad_3.png" alt="Image not found"> -->
    </div>
  <!-- </div> -->

<!-- 	<div class="ad_photos" class="parallax-window" data-parallax="scroll" data-image-src="images/spons_img/1.png images/spons_img/2.png images/spons_img/3.png">
	</div> -->
  

  <div id="awaits-last" class="container-fluid awaits" style="display : none;">
    <div class="row" style="display : none;">
      <img class="img-responsive col-xs-12 col-sm-12 col-md-12" style="padding:0;" src="images/spons_img/0.png" alt="Image not found">
      <!-- <img class="img-responsive col-xs-12 col-sm-4 col-md-4" style="padding:0;" src="images/spons_img/ad_2.png" alt="Image not found"> -->
      <!-- <img class="img-responsive col-xs-12 col-sm-4 col-md-4" style="padding:0;" src="images/spons_img/ad_3.png" alt="Image not found"> -->
    </div>
  </div>

<!-- 	<div class="ad_photos">
	</div> -->



  <img class="img-responsive" src="images/home/prevshows.png" id="prevshowsimg" alt="Image not found">


  <img class="img-responsive" src="images/home/shows.png" id="shows" alt="Image not found">

  <img class="img-responsive" src="images/home/media.png" id="media" alt="Image not found">

  <img class="img-responsive" src="images/home/social.png" id="social" alt="Image not found">

  <img class="img-responsive" src="images/home/social2.png" id="social" alt="Image not found">

  

  <img class="img-responsive" src="images/home/sponsors.png" id="sponsors" alt="Image not found">

  <div class="quotes">

    <div id="quotesheading">    Testimonials    </div>
    <br> <br> <br> <br> 


    <div  style="float : left;" class="subquotes" id="quote1">      
      <p>
        "Shaastra always has and will be an inspiration to the student community" - <strong>IDP Winners</strong>
      </p>
      </div>   
      <br><br>
      <div  style="float : left;" class="subquotes" id="quote2">
      <p>
        “Shaastra Circuit design Challenge (SCDC) gave us a great opportunity to display our talent. We look forward for such encouraging events in the following years too” - <strong>SCDC Winners</strong>
      </p>
      </div>      

      <div  style="float: left;" class="subquotes" id="quote3">
      <p>
        “This was a very unique event. We hadn't face such a challenge before, and hence we chose this event” - <strong>RoboWars winners</strong>
      </p>
      </div>

   
   
     
     <div style="float: left;" class="subquotes" id="quote4">
     
      <p>
        After the huge success of the Extreme Sports Show at Shaastra 2016, Yohan Triboulat exclaimed it to be one of the best experienc​e they had.
      </p>
      </div>

      <div style="float: left;" class="subquotes" id="quote5">
      <p>
        “A performer starts enjoying his performance only when he receives great applauds from the audience. The audience at Shaastra had been great, and they made us enjoy our own performance​” - <strong>TEAM ADELAIDA</strong>
      </p>
    </div>

   

     <br> <br>
    

     <div style="float: left;" class="subquotes" id="quote6">
     
      <p>
        "It's nice to see so many teams attempting a problem statement of a complex nature. A problem statement of this kind repeated in the future editions of Shaastra , will improve the standard of autonomous aeromodelling in India." - <strong>BOEING, Shaastra 2016 Sponsor</strong>
      </p>
      </div>

      <div style="float: left;" class="subquotes" id="quote7">
      <p>
        “Shaastra is a very good platform for all the technically taleneted to gather under one roof”­ - <strong>DURR, Shaastra 2016 Sponsor</strong>
      </p>
      </div>

      <div style="float: left;" class="subquotes" id="quote8">
      <p>
        "Shaastra will infuse so much confidence in students towards engineering and technology that there will be hardly any students who will divert to other fields after being a part of Shaastra." - <strong>KAVIN ENGINEERING AND SERVICES PRIVATE LIMITED, Shaastra 2016 Sponsor</strong>
      </p>
      </div>

      <div style="float: left;" class="subquotes" id="quote9">
      <p>
        "Shaastra is a very good platform for universities to publicize and is organised very professionally compared to any other educational fairs that happen in the country." - <strong>BOCCONI UNIVERSITY, Shaastra 2016 Sponsor</strong>
      </p>
    </div>

    </div>

  <img class="img-responsive" src="images/home/motto.png" id="motto" alt="Image not found" style="position : relative; top : -220px; ">

  <div class="container-fluid aim" style="display : none;">
    <div class="row shaastra-aim">
      <img class="img-responsive col-md-5 col-sm-5 col-xs-12 aaa" src="images/spons_img/000.png" alt="Image not loaded">
      <p class="col-md-offset-1 col-md-6 col-sm-offset-1 col-sm-6 col-xs-12 aaa" id="shaastraActivity">Since it's inception, Shaastra's aim has been to explore activity outside the classroom and to spark creative, innovative and hand's-on approaches to a variety of problems from varying fields relating to technology. Over the years, the festival has evolved and now the grandeur and scale of events, is for all to behold. With thousands of people coming down to Chennai every year in January to witness this spectacle, Shaastra's reach is now beyond city, state and country and has a stake on international stage. Marquee events like IITM Research Expo and Industrial Open House remain the pillars of interaction between the student fraternity, industry and academia.</p> 
    </div>
  </div>

  <div class="container-fluid" style="display : none">
    <div class="row events eve">
      <p>Shaastra's Events</p>
    </div>
    <div class="row events-list eve">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <a href="http://ebrochure.shaastra.org/#/aerofest"><img class="img-responsive" style="padding:2%" src="images/spons_img/13_1.png" alt="Image Not Found"></a>
        <p>Aerofest</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 eve">
        <a href="http://ebrochure.shaastra.org/#/b-events"><img class="img-responsive" style="padding:2%" src="images/spons_img/13_2.png" alt="Image Not Found"></a>
        <p>B - Events</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 eve">
        <a href="http://ebrochure.shaastra.org/#/coding"><img class="img-responsive" style="padding:2%" src="images/spons_img/13_3.png" alt="Image Not Found"></a>
        <p>Coding</p>
      </div>
    </div>

    <div class="row events-list">
      <div class="col-md-4 col-sm-4 col-xs-12 eve">
        <a href="http://ebrochure.shaastra.org/#/department-flagship"><img class="img-responsive" style="padding:2%" src="images/spons_img/13_4.png" alt="Image Not Found"></a>
        <p>Department Flagship</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 eve">
        <a href="http://ebrochure.shaastra.org/#/electronics-fest"><img class="img-responsive" style="padding:2%" src="images/spons_img/13_5.png" alt="Image Not Found"></a>
        <p>Electronic Fest</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 eve">
        <a href="http://ebrochure.shaastra.org/#/design-and-build"><img class="img-responsive" style="padding:2%" src="images/spons_img/13_6.png" alt="Image Not Found"></a>
        <p>Design and Build</p>
      </div>
    </div>

    <div id="events-last" class="row events-list">
      <div class="col-md-4 col-sm-4 col-xs-12 eve">
        <a href="http://ebrochure.shaastra.org/#/involve"><img class="img-responsive" style="padding:2%" src="images/spons_img/13_7.png" alt="Image Not Found"></a>
        <p>Involve</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 eve">
        <a href="http://ebrochure.shaastra.org/#/quizzing"><img class="img-responsive" style="padding:2%" src="images/spons_img/13_8.png" alt="Image Not Found"></a>
        <p>Quizzing</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 eve">
        <a href="http://ebrochure.shaastra.org/#/research"><img class="img-responsive" style="padding:2%" src="images/spons_img/13_9.png" alt="Image Not Found"></a>
        <p>Research</p>
      </div>
    </div>
  </div>

  

<!-- 	<div>
    <div class="centered">
		  <div class="btn-group btn-group-lg " >
    		<button id="firstButton" type="button" class="btn btn-primary btn-active" data-toggle="tab" href="#vision">Our Vision</button>
   			<button type="button" class="btn btn-primary" data-toggle="tab" href="#mission">Our Mission</button>
   			<button type="button" class="btn btn-primary" data-toggle="tab" href="#quality">Quality Policy</button>
  		</div>
  	</div>
  	<div class="tab-content" align="center">
  		<div id="vision" class="tab-pane fade in active">
    		<h2 class="shaastraHeadings">SHAASTRA'S VISION</h2>
    		<p>Motivation is a theoretical construct used to explain behavior. It represents the reasons for people's actions, desires, and needs. Motivation can also be defined as one's direction to behavior or what causes a person to want to repeat a behavior and vice versa.[1] A motive is what prompts the person to act in a certain way or at least develop an inclination for specific behavior.[2] For example, when someone eats food to satisfy the need of hunger, or when a student does his/her work in school because he/she wants a good grade. Both show a similar connection between what we do and why we do it. According to Maehr and Meyer, "Motivation is a word that is part of the popular culture as few other psychological concepts are".[3] Wikipedia readers will have a motive (or motives) for reading an article, even if such motives are complex and difficult to pinpoint. At the other end of the range of complexity, hunger is frequently the motive for seeking out and consuming food.</p>
  		</div>
  		<div id="mission" class="tab-pane fade">
    		<h2 class="shaastraHeadings">SHAASTRA'S MISSION</h2>
   			<p>Motivation is a theoretical construct used to explain behavior. It represents the reasons for people's actions, desires, and needs. Motivation can also be defined as one's direction to behavior or what causes a person to want to repeat a behavior and vice versa.[1] A motive is what prompts the person to act in a certain way or at least develop an inclination for specific behavior.[2] For example, when someone eats food to satisfy the need of hunger, or when a student does his/her work in school because he/she wants a good grade. Both show a similar connection between what we do and why we do it. According to Maehr and Meyer, "Motivation is a word that is part of the popular culture as few other psychological concepts are".[3] Wikipedia readers will have a motive (or motives) for reading an article, even if such motives are complex and difficult to pinpoint. At the other end of the range of complexity, hunger is frequently the motive for seeking out and consuming food.</p>
 			</div>
 			<div id="quality" class="tab-pane fade">
    		<h2 class="shaastraHeadings">QUALITY POLICY</h2>
   			<p>Motivation is a theoretical construct used to explain behavior. It represents the reasons for people's actions, desires, and needs. Motivation can also be defined as one's direction to behavior or what causes a person to want to repeat a behavior and vice versa.[1] A motive is what prompts the person to act in a certain way or at least develop an inclination for specific behavior.[2] For example, when someone eats food to satisfy the need of hunger, or when a student does his/her work in school because he/she wants a good grade. Both show a similar connection between what we do and why we do it. According to Maehr and Meyer, "Motivation is a word that is part of the popular culture as few other psychological concepts are".[3] Wikipedia readers will have a motive (or motives) for reading an article, even if such motives are complex and difficult to pinpoint. At the other end of the range of complexity, hunger is frequently the motive for seeking out and consuming food.</p>
 			</div>
		</div>
	</div>
 -->

 <!--  <div id="motto" class="container-fluid motto">
    <div class="row">
      <p>The motto is still the same</p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8">
        <div class="motto-box">
          <p style="padding:3%">Celebrate the spirit of engineering!</p>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container-fluid awaits" style="position : relative; top : -220px; ">
    <div class="row" id="await">
      <p>SHAASTRA'S 18<sup>th</sup>&nbsp;EDITION AWAITS YOU!!</p>
    </div>
  </div>



  <div class="container-fluid footer" style="position : relative; top : -220px; ">
    <div class="footer-top humble">
      <div class="row">
        <h2>We humbly approach you for support in the hope of meeting those who share our vision of celebrating technology at a grass-root level.</h2>
      </div>
    </div>

    

    <div id="foot-mid" class="footer-middle humble" style="display : none;">
      <div class="row" style="display : none; visibility : hidden;">
        <h2>For Sponsorship and Industry relation, please contact</h2>
      </div>
    </div>

    <div class="footer-bottom" style="position : relative; top : -20px;">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 cores">
          <h2>Varun Srinivas Sridharan</h2>
          <p>Core team member</p>
          <p>Sponsorship and PR</p>
          <p>Shaastra 2017</p>
          <p><i class="fa fa-phone"></i>+91-7358540260</p>
          <p><i class="fa fa-envelope"></i>varun@shaastra.org</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 cores">
          <h2>Raghul Manosh</h2>
          <p>Core team member</p>
          <p>Sponsorship and PR</p>
          <p>Shaastra 2017</p>
          <p><i class="fa fa-phone"></i>+91-9940246479</p>
          <p><i class="fa fa-envelope"></i>raghul@shaastra.org</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 cores">
          <h2>Nivedita Manepalli</h2>
          <p>Core team member</p>
          <p>Shows and Exhibitions</p>
          <p>Shaastra 2017</p>
          <p><i class="fa fa-phone"></i>+91-9940557095</p>
          <p><i class="fa fa-envelope"></i>nivedita.manepalli@shaastra.org</p>
        </div>
      </div>
      <div class="row text-center">
          Corporate Relations : 
          <br>
          corporaterelations@shaastra.org
      </div>
    </div>
  </div>

</div>
