  <div class="col col-sm-offset-1 col-sm-10">

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
     
      <li> <a> </a> </li>
      <li> <a> </a> </li>
      <li> <a> </a> </li>
      <li> <a> </a> </li> 
      <li><a href="http://ebrochure.shaastra.org/#/">HOME</a></li> 
      <li> <a> </a> </li>     
      <li  class="active"><a href="http://ebrochure.shaastra.org/#/aerofest">EVENTS</a></li>   
      <li> <a> </a> </li>   
      <li><a href="http://ebrochure.shaastra.org/#/shows">SHOWS AND EXHIBITIONS</a></li> 
      <li> <a> </a> </li>
      <li><a href="http://ebrochure.shaastra.org/#/workshops">WORKSHOPS</a></li> 
      <li> <a> </a> </li>     
      <li><a href="http://ebrochure.shaastra.org/#/publicity">PUBLICITY</a></li>   
      <li> <a> </a> </li>   
      <li><a href="http://ebrochure.shaastra.org/#/why-shaastra">WHY SPONSOR</a></li> 

    </ul>
  </div>
</nav>

    <!-- <div>
    <ul id="menu-container" style="opacity:0; z-index:101"><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://shaastra.org/"><div class="headings"><img id="shaastra-menu-logo" src="images/spons_img/shaastra-blue-logo.png"></div></a></li>
          <li class="menu-list"><a class="menu-link" style="cursor:pointer" ng-click="homePage()"><div class="headings">HOME</div></a></li><hr class="horizontalRule"> 
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/aerofest"><div class="headings">EVENTS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/workshops"><div class="headings">WORKSHOPS</div></a></li><hr class="horizontalRule">

          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/shows"><div class="headings">SHOWS AND EXHIBITIONS</div></a></li><hr class="horizontalRule">
          
         <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/participants-quotes"><div class="headings">TESTIMONIALS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/avenues"><div class="headings">SPONSORSHIP AVENUES</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/publicity"><div class="headings">PUBLICITY</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/why-shaastra"><div class="headings">WHY SPONSOR SHAASTRA</div></a></li><hr class="horizontalRule">
      </ul>

      <div id="menutext" ng-click="onClick()"> MENU </div>
      <div id="closemenu" style="z-index:100" ng-click="onClick()">
        <div id="openiconcontainer">
          <span id="firstline" class="line"></span>
            <span id="secondline" class="line"></span>
            <span id="thirdline" class="line"></span>
          <span id="fourthline" class="line"></span>
        </div>
        <div id="closeiconcontainer">
            <span id="closefirstline" class="line"></span>
            <span id="closesecondline" class="line"></span>
        </div>
      </div>
    </div>
 -->
    <div class="container-fluid">
      <h1 class="col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-1 col-xs-11 title">Events</h1>
    </div>

    <div class="container-fluid">

      <nav class="navbar navbar-default">
        <div class="container-fluid remove-padding remove-margin">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed toggle-btn-custom" data-toggle="collapse" data-target="#nav-copmonents" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="nav-copmonents">
            <ul class="nav navbar-nav">
              <li><a href="http://ebrochure.shaastra.org/#/aerofest">Aerofest</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/b-events">B-Events</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/coding">Coding</a></li>
              <li class="active"><a href="#">Design and Build</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/electronics-fest">Electronics Fest</a></li>
              <!-- <li><a href="http://ebrochure.shaastra.org/#/department-flagship">Department Flagship</a></li> -->
               <li><a href="http://ebrochure.shaastra.org/#/involve">Involve And Quizzing</a></li>
              <!-- <li><a href="http://ebrochure.shaastra.org/#/quizzing">Quizzing</a></li> -->
              <li><a href="http://ebrochure.shaastra.org/#/research">Research</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
          <img class="img-responsive" src="images/spons_img/design-and-build.png" alt="Image Not Found">

        </div><!-- /.container-fluid -->
      </nav>
    </div>
    
    <div class="container-fluid event-info">
      <div style="padding:5%;">


        <div class="row module">
          <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/contraptions.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Robowars </h2>
            <p class="content">  It is a game of style, control, damage and aggression with the robots pit against each other in a deadly combat.Having destructions with their pneumatic spikes, flipping tusks, angle grinders, hurling maces, hydraulic pincers and lots more.fore. Shaastra Robowars with certain problem statements has a perfect blend of complexity and thrill. </p>
          </div>
        </div>

        <br />
        <div class="row text-right module box">
          <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/fire n ice.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Hand Gesture Controlled Robotics </h2>
            <p class="content"> Gesture controlled bot is robot which can be controlled by simple gestutres.contestant needs to bulid a robot using a gesture device ans sensor.sensor will record the movement of hand in certain direction which will result in movement of robot in respective directions.
 </p>
          </div>
        </div>
        <br />
        
        <div class="row module box" ani-view>
          <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/manual robotics.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Junkyard Wars </h2>
            <p class="content"> Contestants have to build the machines within a limited time, which perform a specific task with just heaps of scrap as the raw material. Innovative design, hands on experience, technical knowledge and good engineering skills are the minimum requirements for this event.
 </p>
          </div>
        </div>

        <div class="row module box text-right" ani-view>
          <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/robowars.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Fire N Ice </h2>
            <p class="content"> Fire N Ice is an event where participants build their own RC car, according to the given problem statment. It’s a place where you get to compete with the best minds from around the country.
 </p>
          </div>
        </div>

        <div class="row module">
          <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/semi-autonomous robotics.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Humanoid and Microthon</h2>
            <p class="content">  In this combined event problem statement is made such that the participants need to build two bots ,one line follower bot and other humanoid bot(using micro-servos and microcontrollers like Arduino. Decent coding skills, technical skills, basic knowledge of electronics are required ).these Two bots will be helping each other to complete tasks given in problem statement.Line follower bot moves on path and various obstacles to reducing the size as much as you can while still being fast enough where as humanoid bot do some simple tasks given.
</p>
          </div>
        </div>
        

        <div class="row module">l
          <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/ultimate engineer.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title"> Manual Robotics </h2>
            <p class="content"> Shaastra Robotics with unique problem statements has a perfect blend of complexity and thrill which puts to test designing skills as well as ideating potential of participants and aims at bringing the best out of them.The variety in problem statements and the exposure that Shaastra robotics offers is unparalleled.
 </p>
          </div>
         
      </div>

            
    </div>
  </div>
