<div class="col col-sm-offset-1 col-sm-10">

    <div>
    <ul id="menu-container" style="opacity:0; z-index:101"><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://shaastra.org/"><div class="headings"><img id="shaastra-menu-logo" src="images/spons_img/shaastra-blue-logo.png"></div></a></li>
          <li class="menu-list"><a class="menu-link" style="cursor:pointer" ng-click="homePage()"><div class="headings">HOME</div></a></li><hr class="horizontalRule"> 
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/aerofest"><div class="headings">EVENTS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/workshops"><div class="headings">WORKSHOPS</div></a></li><hr class="horizontalRule">
          
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/shows"><div class="headings">SHOWS AND EXHIBITIONS</div></a></li><hr class="horizontalRule">

          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/social"><div class="headings">SOCIAL WORK</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/participants-quotes"><div class="headings">TESTIMONIALS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/avenues"><div class="headings">SPONSORSHIP AVENUES</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/publicity"><div class="headings">PUBLICITY</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/why-shaastra"><div class="headings">WHY SPONSOR SHAASTRA</div></a></li><hr class="horizontalRule">
      </ul>
      <div id="closemenu" style="z-index:100" ng-click="onClick()">
        <div id="openiconcontainer">
          <span id="firstline" class="line"></span>
            <span id="secondline" class="line"></span>
            <span id="thirdline" class="line"></span>
          <span id="fourthline" class="line"></span>
        </div>
        <div id="closeiconcontainer">
            <span id="closefirstline" class="line"></span>
            <span id="closesecondline" class="line"></span>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <h1 class="col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-1 col-xs-11 title">Exhibitions</h1>
    </div>

    <div class="container-fluid">

      <nav class="navbar navbar-default">
        <div class="container-fluid remove-padding">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed toggle-btn-custom" data-toggle="collapse" data-target="#nav-copmonents" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="nav-copmonents">
            <ul class="nav navbar-nav">
              <li><a href="http://ebrochure.shaastra.org/#/shows">Shows</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/exhibitions">Exhibitions</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
          <img class="img-responsive" src="images/spons_img/spotlight.png" alt="Image Not Found">

        </div><!-- /.container-fluid -->
      </nav>
    </div>
    
    <div class="container-fluid event-info">
      <div style="padding:5%;">

        <div class="row module box">
          <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/tech.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">Tech and Innovation Fair</h2>
            <p class="content">Shaastra hosts this fair every year aiming at promoting innovation in the world. The platform hosts the projects and exhibitions with novel ideas developed by the students across the globe. The developers get to exhibit their distinctive products to the eminent scientists, brilliant academicians and interact with the best brains of India.</p>
          </div>
        </div>
        <br />
        <div class="row text-right module box" ani-view>
          <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/autochess.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">Chess Automated</h2>
            <p class="content">A unique opportunity to experience the game of chess without ever touching the real masterpieces. Chess Automated is a completely automated chess board which enables the user to play chess against a computer, against a computer and even against a human opponent present at any place in the world via the internet on a physical board.
            </p>
          </div>
        </div>
        <br />
        <div class="row module box" ani-view>
          <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/car.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">Vintage Cars Exhibition</h2>
            <p class="content">​​Shaastra 2016 unveiled the spectacular technological advancements in the automobile history with its very own Vintage Car Exhibition in collaboration with the Madras Heritage Motoring Club. Presented automobiles such as, Austin 8, 1952 Topolino, Morris 1000, Morris 8, which have been the marvels of technology bringing about a revolution in the automobile industry.
            </p>
          </div>
          
        </div>
        <br />
        <div class="row text-right module box" ani-view>
          <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/arjuntank.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">Arjun Tank</h2>
            <p class="content">The Arjun Tank is a third generation main battle tank developed by India’s Defense Research and Development Orgnanization(DRDO), for the Indian Army. A Master Piece in the field of defense technology, this was a major attraction of Shaastra. 
            </p>
          </div>
        </div>

       <!--  -->
      </div>
      
    </div>
  </div>
