  <div class="col col-sm-offset-1 col-sm-10">
    <div>
    <ul id="menu-container" style="opacity:0; z-index:101"><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://shaastra.org/"><div class="headings"><img id="shaastra-menu-logo" src="images/spons_img/shaastra-blue-logo.png"></div></a></li>
          <li class="menu-list"><a class="menu-link" style="cursor:pointer" ng-click="homePage()"><div class="headings">HOME</div></a></li><hr class="horizontalRule"> 
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/aerofest"><div class="headings">EVENTS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/workshops"><div class="headings">WORKSHOPS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/social"><div class="headings">SOCIAL WORK</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/sponsors-quotes"><div class="headings">QUOTES FROM SPONSORS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/participants-quotes"><div class="headings">QUOTES FROM PARTICIPANTS</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/avenues"><div class="headings">SPONSORSHIP AVENUES</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/publicity"><div class="headings">PUBLICITY</div></a></li><hr class="horizontalRule">
          <li class="menu-list"><a class="menu-link" href="http://ebrochure.shaastra.org/#/why-shaastra"><div class="headings">WHY SPONSOR SHAASTRA</div></a></li><hr class="horizontalRule">
      </ul>
      <div id="closemenu" style="z-index:100" ng-click="onClick()">
        <div id="openiconcontainer">
          <span id="firstline" class="line"></span>
            <span id="secondline" class="line"></span>
            <span id="thirdline" class="line"></span>
          <span id="fourthline" class="line"></span>
        </div>
        <div id="closeiconcontainer">
            <span id="closefirstline" class="line"></span>
            <span id="closesecondline" class="line"></span>
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
      <h1 class="col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-1 col-xs-11 title">Events</h1>
    </div>

    <div class="container-fluid">

      <nav class="navbar navbar-default">
        <div class="container-fluid remove-padding remove-margin">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed toggle-btn-custom" data-toggle="collapse" data-target="#nav-copmonents" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="nav-copmonents">
            <ul class="nav navbar-nav">
              <li><a href="http://ebrochure.shaastra.org/#/aerofest">Aerofest</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/b-events">B-Events</a></li>
              <li class="active"><a href="#">Coding</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/design-and-build">Design and Build</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/electronics-fest">Electronics Fest</a></li>
              <!-- <li><a href="http://ebrochure.shaastra.org/#/department-flagship">Department Flagship</a></li> -->
              <li><a href="http://ebrochure.shaastra.org/#/involve">Involve</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/quizzing">Quizzing</a></li>
              <li><a href="http://ebrochure.shaastra.org/#/research">Research</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
          <img class="img-responsive" src="images/spons_img/coding.png" alt="Image Not Found">

        </div><!-- /.container-fluid -->
      </nav>
    </div>
    
    <div class="container-fluid event-info">
      <div style="padding:5%;">

        <div class="row module box">
          <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/crypto.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">Mixels</h2>
            <p class="content">Mixels is in the field of Image Processing, Basic concepts are tested in the prelims, while the finals included advanced techniques like Augmented Reality and Detections.Sponsored by Samsung in 2016, 30 teams competed in the prelims. 14 qualified for the finals, and 3 teams were declared winners.</p>
          </div>
        </div>
        <br />
        <div class="row text-right module box" ani-view>
          <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/reverse coding.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">Reverse Coding</h2>
            <p class="content">Historically one of Shaastra’s most popular and competitive events, Reverse Coding tests logical thinking, pattern recognition, mathematical aptitude, as participants attempt to solve patterns and crack code. Reverse Coding at Shaastra 2016, sponsored by SAP, saw 170 participating teams in the prelims, 17 finalists, and 3 winner teams.</p>
          </div>
        </div>
        <br />
        <div class="row module box" ani-view>
          <img style="float:right;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/triathlon.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">Triathlon</h2>
            <p class="content">Triathlon is one event that tests three skills - Algorithms, logical reasoning, and web design. In 2016, Triathlon was sponsored by Visa, and saw 55 teams compete in the prelims. Of the 17 teams that went on to the final round, 3 were declared winners.</p>
          </div>
        </div>
        <br />
        <div class="row module box" ani-view>
          <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/online programming contest.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">Online Programming Contest</h2>
            <p class="content">The Shaastra OPC, a 3 hour long programming competition, has traditionally seen massive participation from India and abroad. Sponsored by Cognizant and conducted on CodeChef in 2016, two OPCs were conducted, which saw a total of 800 participants. The winners were from Poland and Peru./p>
          </div>
        </div>
        <div class="row module box" ani-view>
          <img style="float:left;" class="col-md-4 col-sm-12 col-xs-12" src="images/spons_img/tidbits.jpg" alt="Image Not Found">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h2 class="sub-title">Tidbits</h2>
            <p class="content">The ultimate puzzle competition. Puzzles, riddles, decryptions, connects, and ciphers are put up everyday for 25 days on a portal, designed by Shaastra, and dedicated to Tidbits. There can only be three winners, with the entire world being competition. </p>
          </div>
          <button class="btn btn-default btn-custom col-md-3 col-sm-6 col-xs-12"><b>Check Statistics</b></button>
        </div>

      </div>
      
    </div>
  </div>
